*idea*

*ccmak-build-debug*

worker/source_file/*
worker/third_party/libuv/build/*
worker/build/*

*CMakeFiles*


third_party/libwebrtc/dep/abseil-cpp/abseil-cpp/CMakeFiles/*

*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
~*

worker/third_party/libns3/testpy-output

worker/third_party/libns3/bindings/python/pybindgen/

worker/third_party/libns3/ms_print.*
worker/third_party/libns3/massif.*
worker/third_party/libns3/coverity
worker/third_party/libns3/TAGS

worker/third_party/libns3/.lock-waf_*_build
worker/third_party/libns3/.waf*

worker/third_party/libns3/build-dir/
worker/third_party/libns3/build/
worker/third_party/libns3/.cproject
worker/third_party/libns3/.project

worker/third_party/libns3/version.cache