.idea

cmake-build-debug

source_file/*
data/*

CMakeFiles/*

third_party/libwebrtc/dep/abseil-cpp/abseil-cpp/CMakeFiles/*

*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
~*

third_party/libns3/testpy-output

third_party/libns3/bindings/python/pybindgen/

third_party/libns3/ms_print.*
third_party/libns3/massif.*
third_party/libns3/coverity
third_party/libns3/TAGS

third_party/libns3/.lock-waf_*_build
third_party/libns3/.waf*

third_party/libns3/build-dir/
third_party/libns3/build/
third_party/libns3/.cproject
third_party/libns3/.project

third_party/libns3/version.cache